<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <body>
    <div class = 'container-fluid body'>
    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

    </div>
      <div id = "itemContent">
              <h3>{{item.name}}</h3>
              <img src = "" alt = "placeholder">
              <p>{{item.description}}</p>

        <a class = 'btn btn-primary col-lg-3' href = '{{url_for('editItem',
        item_name = item.name)}}'>Edit</a>
        <a  class = 'btn btn-primary col-lg-3'href = '{{url_for('deleteItem',
        item_name = item.name)}}'>Delete</a>
        <a class = 'btn btn-primary col-lg-3' href = '{{url_for('showItems',
                    category_name = item.category_name)}}'
                    >Back to Category Items </a>
    </div>
</div>
</body>


</head>
